BRICK_DOMAIN=brick.lusaggo.com
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=1166119057993515100
DISCORD_OFFICER_ROLE_ID=1167061441023582258
DISCORD_RAIDER_ROLE_ID=1199377026168143872
ONLINE_WINDOW_SECONDS=180
ROSTER_CACHE_SECONDS=60
HEARTBEAT_RETENTION_SECONDS=1209600
REQUESTER_CACHE_SECONDS=300
REQUESTER_STALE_SECONDS=3600
DISCORD_GATEWAY_ENABLED=true
